main {
  height: 100%;
  display: flex;
  border: 1px solid black;
  width: 60%;
  border-radius: 12px;
  background-color: rgb(153, 136, 136);
  margin-left: 50px;
  margin-top: 40px;
  box-shadow: 11px 10px 43px 12px;
  padding-left: 15px;
}

h1 {
  color: rgba(12, 11, 11, 0.89);
  font-size: 50px;
  text-decoration: underline;
  margin-left: 35%;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  position: relative;
}

.usernames {
  display: flex;
  width: inherit;
  padding: 11px;
}

h2 {
  color: #000;
}

.column2 {
  display: flex;
  flex-direction: column;
}

.title1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 35px;
}

.scores {
  list-style: none;
  text-transform: capitalize;
}

.display-content {
  width: 50%;
}

.score-item {
  padding: 2.5px;
  border: 1px solid;
}

.refresh-btn {
  padding: 4px;
  border: 0;
  box-shadow: 4px 4px 4px 4px;
  background: bottom;
  border-radius: 6px;
}

.display-section ul li:nth-child(even) {
  background: linear-gradient(45deg, rgb(214, 211, 211), transparent);
  border: 1px solid black;
}

h3 {
  font-size: 22px;
  color: #000;
}

.data-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 33%;
}

.input-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 2px;
  width: 100%;
  outline: none;
  height: 33px;
  font-size: 16px;
  border-radius: 7px;
}

::placeholder {
  color: rgb(10, 10, 10);
  font-weight: 500;
}

#submit-btn {
  padding: 4px;
  border: 0;
  box-shadow: 4px 4px 4px 4px;
  background: bottom;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  align-self: flex-end;
}
